- content_for :javascript do
  initialize_homepage();

- content_for :coverfade_class do
  = "without-text"

- content_for :title_header do
  - with_big_cover_photo do
    %h1.marketplace-lander-content-title= community_slogan.html_safe
    %p= community_description.html_safe
    .search-form
      - if @current_community.private?
        %a.inline-big-button{href: sign_up_path}
          .content
            = t("layouts.application.connect")
      - else
        - if(feature_enabled?(:location_search))
          = render :partial => "location_bar"
        - else
          = render :partial => "search_bar"
  - with_small_cover_photo do
    .browse-view-search-form
      - if(feature_enabled?(:location_search))
        = render :partial => "location_bar"
      - else
        = render :partial => "search_bar"

- if @current_community.private? && show_big_cover_photo?
  - if @community_customization && @community_customization.private_community_homepage_content
    = @community_customization.private_community_homepage_content.html_safe
  - else
    = t(".this_is_private_community")

- else

  .home-toolbar

    - if listing_shape_menu_enabled || @category_menu_enabled
      .home-toolbar-show-filters-button-container
        .home-toolbar-show-filters-button#home-toolbar-show-filters
          = t(".filter")

    .home-toolbar-button-group{:class => listing_shape_menu_enabled || @category_menu_enabled ? "filters-enabled" : ""}
      - ["grid", "list", "map"].each do |view_type|
        - selected_class = @view_type == view_type ? "selected" : ""
        = link_to params.merge(view: view_type), :class => "home-toolbar-button-group-button #{selected_class}", :title => t("homepage.filters.#{view_type}_button") do
          = icon_tag(view_type, ["icon-fix", "home-button-group-icon"])
          %span.home-toolbar-button-text
            = t("homepage.filters.#{view_type}_button")

    - if listing_shape_menu_enabled || @category_menu_enabled
      .home-toolbar-filters.home-toolbar-filters-mobile-hidden#home-toolbar-filters

        - if @show_categories
          .home-toolbar-toggle-container.hidden-tablet
            #home-toolbar-categories-menu
              = select(:category, :list1, options_from_collection_for_select(@main_categories, "id", "url"),prompt: "Select Category" )
        / Filters
        .hidden-tablet
          - # Filters will be relocated to #desktop-filters when in desktop
          #filters
            = render :partial => "filters", :locals => { show_price_filter: show_price_filter, show_custom_fields: @show_custom_fields }

  .row
    - if @category_menu_enabled
      .col-3.visible-tablet
        - if @show_categories
          = select(:category, :list, options_from_collection_for_select(@main_categories, "id", "url"),prompt: "Select Category" )

    - main_container_class = if @category_menu_enabled then "col-9" else "col-12" end
    %div{:class => main_container_class}
      - if @listings.total_entries > 0
        - if @view_type.eql?("map")
          .home-map
            = render :partial => "map"
        - else
          - if @view_type.eql?("grid")
            %div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
              .home-fluid-thumbnail-grid
                = render :partial => "grid_item", :collection => @listings, :as => :listing
          - else
            .home-listings
              = render :partial => "list_item", :collection => @listings, :as => :listing, locals:{shape_name_map: shape_name_map, testimonials_in_use: testimonials_in_use}
          .home-loading-more
            = will_paginate(@listings)
            - item_container = if @view_type.eql?("grid") then '.home-fluid-thumbnail-grid' else '.home-listings' end
            = pageless(@listings.total_pages, item_container, request.fullpath, t('.loading_more_content'))
      - else
        .home-no-listings
          - if params[:q] || params[:category] || params[:share_type] # Some filter in use
            = t(".no_listings_with_your_search_criteria")
          - else
            = t(".no_listings_notification", :add_listing_link => link_to(t(".add_listing_link_text"), new_listing_path)).html_safe
